<%- include ('../partials/header') %>

<div class="show">
  <!-- Add in your own product display -->
  <h1>Our Newst Product</h1>
  <br>
  <h1><%= product.name %></h1>
  <p><%= product.price %>$</p>
  <br>
  <h3>A little bit about this poduct!</h3>
  <p><%- product.Description %></p>
  

</div>

<%- include ('../partials/footer') %>